@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* ===== RESET MINIMAL ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui;
}

html,
body {
  min-height: 100% !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ===== ACCESSIBILITÉ TACTILE ===== */
button,
input,
textarea,
select {
 
  font-size: 1.2rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
  transition: background-color 0.2s;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline: 2px solid #3b82f6; /* bleu Tailwind */
  outline-offset: 2px;
}

/* ===== LAYOUT DE BASE ===== */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
